
@{
    ViewBag.Title = "Spa";
}

<h2>Spa</h2>

<div id="bodyContainer" ng-app="TaskSpaApp">
    <div class="row" ng-controller="TaskSpaController">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{ active: isSet(1) }">
                    <a href ng-click="setTab(1)">Task List</a>
                </li>
                <li ng-class="{ active: isSet(2) }">
                    <a href ng-click="setTab(2)">Add Task</a>
                </li>
                <li ng-class="{ active: isSet(3) }">
                    <a href ng-click="setTab(3)">Settings</a>
                </li>
            </ul>
        </div>

        <div class="col-md-8">
            <div class="jumbotron">
                <div ng-show="isSet(1)">
                    <task-list/>
                </div>
                <div ng-show="isSet(2)">
                    <task/>
                </div>
                <div ng-show="isSet(3)">
                    <settings></settings>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/angular/angular.js"></script>
    @*<script src="~/Scripts/angular-route.js"></script>*@

    <script src="~/Scripts/angular-animate/angular-animate.js"></script>
    <script src="~/Scripts/angular-aria/angular-aria.js"></script>
    <script src="~/Scripts/angular-material/angular-material.js"></script>

    <script src="~/Scripts/moment.min.js"></script>

    <script src="~/Scripts/smart-table.js"></script>

    <link href="~/Content/angular-material.css" rel="stylesheet"/>

    @*<script src="~/Scripts/angular-ui/ui-bootstrap-tpls-2.5.0.js"></script>*@
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    @*<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>*@
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />    

    @Scripts.Render("~/Scripts/app/spa/services/priority-service.js")

    @Scripts.Render("~/Scripts/app/spa/settings/settings.module.js")
    @Scripts.Render("~/Scripts/app/spa/settings/settings.component.js")

    @Scripts.Render("~/Scripts/app/spa/task/task.module.js")
    @Scripts.Render("~/Scripts/app/spa/task/task.component.js")

    @Scripts.Render("~/Scripts/app/spa/taskList/taskList.module.js")
    @Scripts.Render("~/Scripts/app/spa/taskList/taskList.component.js")

    @Scripts.Render("~/Scripts/app/spa/spa-controller.js")

}
